
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Kategori Ekle</h2>

<form class="forms-sample">

    <div class="form-group">
        <label for="KategoriAdi">Kategori Adı:</label>
        <input type="text" class="form-control" placeholder="Kategori adı giriniz" name="e_kategori_adi">
    </div>
    
    <button type="submit" class="btn btn-primary me-2">Ekle</button>
    <button class="btn btn-light">İptal</button>
</form>


