@using PhoneBookUI.Models.ViewModels
@model List<CategoryViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategoriler</h2>

<div class="card-header">
    <a href="/Category/Create" class="btn btn-info">Yeni Kategori Ekle</a>
</div>


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Kategori ID</th>
                <th>Kategori Adı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.e_id</td>
                <td>@item.e_kategori_adi</td>
                <td>
                    <a href="/Category/Update/@item.e_id" class="btn btn-sm btn-default" style="background-color:orange; margin-right:5px;">Düzenle</a>
                    <a href="/Category/Delete/@item.e_id" class="btn btn-sm btn-default" style="background-color:darkred; color:whitesmoke; margin-right:5px;">Sil</a>
                </td>
            </tr>
            }
            
            
        </tbody>
    </table>
</div>

