@using PhoneBookUI.Models.ViewModels
@model  CategoryUpdateViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<h2>Update</h2>

<form class="form-horizontal" action="/Category/Update">
     
    <input type="text" readonly class="form-control" name="@Model.ESKI_ID"/>
    <input type="text" class="form-control" name="newCategoryName"/>

    <input type="submit" value="Güncelle" class="btn btn-default btn-block" style="background-color:#46B3AE; color:white;" />
</form>