@using PhoneBookUI.Models.ViewModels
@model  CategoryUpdateViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}


<h2>Kategori Güncelle</h2><br /><br />
<form class="form-horizontal" method="post" action="/Category/Update">
    <label>Kategori ID</label><br />
    <input type="text" class="form-control" readonly name="ESKI_ID" value="@ViewBag.CategoryId" /><br />
    <label>Kategori Adı</label> <br />
    <input type="text" class="form-control" name="e_kategori_adi"/><br />
    <input type="submit" value="Güncelle" class="btn btn-default btn-block" style="background-color:#46B3AE; color:white;" />
</form>