@using PhoneBookUI.Models.ViewModels
@model  CategoryUpdateViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}



<form class="form-horizontal" method="post" action="/Category/Update">
    <label>Kategori ID</label><br />
    <input type="text" class="form-control" readonly name="categoryId" value="@ViewBag.categoryid" /><br />
    <label>Kategori Adı</label> <br />
    <input type="text" class="form-control" name="categoryName" /><br />
    <input type="submit" value="Ekle" class="btn btn-default btn-block" style="background-color:#46B3AE; color:white;" />
</form>