@TempData["Birkan"]
<form class="form-horizontal" method="post" action="/Account/Login">
    <div class="form-group">
        <label>Id</label>
        <input type="text" class="form-control" name="e_kullanici_adi" />
    </div>
    <div class="form-group">
        <label>Name and Surname</label>
        <input type="text" class="form-control" name="e_sifre" />
    </div>
    <input type="submit" value="Giriş Yap" class="btn btn-default btn-block" style="background-color:#46B3AE; color:white;" />
</form>
