
@{
    ViewBag.Title = "Logout";

}

<h2>Logout</h2>
<form class="form-horizontal" method="post" action="/Account/Birkan">
    <input type="text" class="form-control" name="uToken" />

    0ADE568D-4A3F-4521-AC21-EA10C67DAEAB
    <input type="submit" value="Logout" class="btn btn-default btn-block" style="background-color:#46B3AE; color:white;" />
</form>
