@using PhoneBookUI.Models.ViewModels
@model PersonViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<h2>Kişi Ekle</h2>
<br />

<form class="form-horizontal" method="post" action="/Person/Create">
    <label>Adı Soyadı</label><br />
    <input type="text" class="form-control" name="fullName" /><br />
    <label>Telefon</label> <br />
    <input type="text" class="form-control" name="phoneNumber" /><br />
    <label>Kategoriler</label> <br />
    <div class="form-group">
        @Html.DropDownListFor(x => x.e_kategori_id, (List<SelectListItem>)ViewBag.category,
           new { @class = "form-control" }
           )
    </div>
   



    <input type="submit" value="Ekle" class="btn btn-default btn-block" style="background-color:#46B3AE; color:white;" />
</form>
