@using PhoneBookUI.Models.ViewModels
@model List<PersonViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<h4 class="card-title">Kişi Listesi</h4>
<div class="table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Adı Soyadı</th>
                <th>Kategori</th>
                <th>Telefon Numarası</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.e_id</td>
                    <td>@item.e_adi_soyadi</td>
                    <td>@item.e_kategori_adi</td>
                    <td>@item.e_telefon</td>
                    <td>
                        <a href="/Person/Update/@item.e_id" class="btn btn-danger">Düzenle</a>
                        <a href="/Person/Delete/@item.e_id" class="btn btn-danger">Sil</a>
                    </td>
                    @*<td>
                            <a href="/Category/CategoryList/@item.e_id" class="btn btn-sm btn-default"
                               style="background-color:powderblue; margin-right: 5px;">
                                Düzenle
                            </a>
                        </td>*@
                </tr>
            }

        </tbody>
    </table>
</div>

